<!DOCTYPE html>
<html lang="en">
<head>
    {% extends "services/base.html" %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Home | {% endblock title %}</title>
</head>
<body>
    

    {% block content %}
        <div id="landing-page">
            <div class="slogan">
                <h5>WELCOME TO CRESCENT</h5>
                <h3>Leaders in</h3>
                <h1>Extra Low Voltage Solutions & <br>Control Systems</h1>
                <H5>DESIGN | BUILD | INTEGRATE | MAINTAIN</H5>
                <H6> Seamless Design and Integration</H6>
            </div>
        </div>
    {% endblock content %}
</body>
</html>