<!DOCTYPE html>
<html lang="en">
<head>
    {% extends "services/base.html" %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{{service.service_name}} | {% endblock title %}</title>
</head>
<body>
    {% block header %}
        <h1 class="heading">{{service.service_name}}</h1>
    {% endblock header %}

    {% block content %}
        <p>{{service.intro}}</p>

        <ul>
            {% for sub_service in sub_services %}
                <li>
                    <h2>{{sub_service.sub_service_name}}</h2>
                    <p>{{sub_service.info}}</p>
                    <img src="{{sub_service.sub_service_image.url}}" alt="images">
                </li>
            {% endfor %}
        </ul>
    {% endblock content %}
</body>
</html>