<!DOCTYPE html>
<html lang="en">
<head>
    {% extends "services/base.html" %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{{service.service_name}} | {% endblock title %}</title>
</head>
<body>
    {% block header %}
        <h1 class="heading">{{service.service_name}}</h1>
    {% endblock header %}

    {% block content %}    
        <div class="sub_services_container">
            <ul class="sub_services">
                {% for sub_service in sub_services %}
                    <div class="sub_service_container">
                        <li class="sub_service_list">
                            <h2>{{sub_service.sub_service_name}}</h2>
                            <img src="{{sub_service.sub_service_image.url}}" alt="images">
                            <p>{{sub_service.info}}</p>
                            <button>
                                <a href="#">Learn More</a>
                            </button>                            
                        </li>
                    </div>
                {% endfor %}
            </ul>
        </div>
    {% endblock content %}
</body>
</html>